<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Oxygen</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">投票アプリ</h2>
        <h1 class="title">Oxygen</h1>
        <p class="description">
          Oxygenは、投票をするアプリです。
          <br>
          アカウントを作成したら好きなものに投票してみよう！
          <br>
          投票は一度しかできないのでご注意ください！！
        </p>
        <a href="/index" class="index-button">投票する選択肢をみてみる</a>
      </div>
      <div class="top-image">
        <img src="/images/main-img.png">
      </div>
    </div>
  </body>
</html>
